---
layout: docs
title: Community Blog
nav: blog-nav
---
<div class="post">
    <div class="blog-title">
        Community Blog
    </div>
    <div class="post-list">
    {% for contentItem in site.data.community-content %}
        {% assign dateStr = contentItem.date | date: "%b %e, %Y" %}
        {% include pub-preview.html url=contentItem.url title=contentItem.title excerpt=contentItem.excerpt date=dateStr showSubtitle=true type=contentItem.type author=contentItem.author %}
    {% endfor %}
    </div>
</div>    