<footer class="site-footer">
    <div class="site-footer-content">
        <div class="footer-links">
            <div class="footer-link-content">
                <div class="link"><a href="/testcafe/documentation/">Docs</a></div>
                <div class="link"><a href="/testcafe/team-blog/">Blog</a></div>
                <div class="link"><a href="/testcafe/community/">Media</a></div>
                <div class="link"><a href="/testcafe/faq/">FAQ</a></div>
                <div class="link"><a href="/testcafe/roadmap/">Roadmap</a></div>
                <div class="link"><a href="/testcafe/release-notes/">Release Notes</a></div>
                <div class="link"><a href="/testcafe/support/">Support</a></div>
                <div class="link"><a href="https://devexpress.com/products/testcafestudio">TestCafe Studio</a></div>
            </div>
        </div>
        <div class="footer-icons">
            <div class="icon"><a href="https://twitter.com/DXTestCafe"><img src="/testcafe/images/twitter-footer.svg"/></a></div>
            <div class="icon"><a href="https://github.com/DevExpress/testcafe"><img src="/testcafe/images/github-footer.svg"/></a></div>
        </div>
        <div class="footer-legal">
            Use of this site constitutes acceptance of our <a href="https://www.devexpress.com/aboutus/privacy-policy.xml"  target="_blank">Privacy Policy</a><br/>
            Copyright © 2012–{{ site.time | date: "%Y" }} Developer Express Inc.</p>
        </div>
    </div>
</footer>
