{% if page.url contains '/support/' %}{% assign isSupportPage = true %}{% endif %}
{% if page.permalink == '/' %}{% assign isLandingPage = true %}{% endif %}
<header class="site-header {% if isLandingPage == false and isSupportPage == false %}fixed{% endif %}">
  <div class="site-header-content">
    <a class="site-logo" href="{{ site.baseurl }}/"></a>
    <div class="hamburger-button">
        <div class="hamburger-icon"></div>
    </div>
    <nav class="site-nav">
        {% for menuItem in site.data.top-menu-items %}
          {% capture highlightUrl %}{% if menuItem.highlightUrl %}{{ menuItem.highlightUrl }}{% else %}{{ menuItem.url }}{% endif %}{% endcapture %}
          <div class="site-nav-tab{% if page.url contains highlightUrl %} active{% endif %}"{% if menuItem.id %} id="{{ menuItem.id }}-tab"{% endif %}>
            <a class="page-link" {% if menuItem.id %}id="{{ menuItem.id }}" {% endif %}href="{% if menuItem.external %}{{ menuItem.url}}{% else %}{{ menuItem.url | prepend: site.baseurl }}{% endif %}"{% if menuItem.external %} target="_blank"{% endif %}><span>{{ menuItem.text }}</span></a>
          </div>
        {% endfor %}
      <a id="twitter-button" href="https://twitter.com/dxtestcafe" target="_blank"></a>
      <div id="search-icon"></div>
      <div class="star-button">
        <a class="github-button" href="https://github.com/DevExpress/testcafe" data-size="large" data-count-href="/DevExpress/testcafe/stargazers" data-show-count="true" data-count-aria-label="# stargazers on GitHub" aria-label="Star DevExpress/testcafe on GitHub"><span style="color:#ffffff">Star</span></a>
      </div>
      <div id="search-panel" class="hidden">
          <input type="text" placeholder="Search documentation" id="search"/>
          <div id="close-search"></div>
      </div>
    </nav>
  </div>
</header>

<script>
  function has(parentEl, el)  {
    var descendants = parentEl.getElementsByTagName('*');
    
    for(i = 0; i < descendants.length; i++) 
        if(descendants[i] === el) return true;

    return false;
  }

  function clickOutsideBox(e, box) {
      return box !== e.target && !has(box, e.target);
  }  

  function closeSearchBox(e) {
      if(clickOutsideBox(e, searchPanel) && searchPanel.className.indexOf('hidden') === -1) 
          searchPanel.className += ' hidden';
  }

  var searchButton      = document.getElementById('search-icon');
  var searchPanel       = document.getElementById('search-panel');
  var searchInput       = document.getElementById('search');
  var closeSearchButton = document.getElementById('close-search');

  searchButton.addEventListener('click', function () {
      searchPanel.className = searchPanel.className.replace(/hidden/,'');
      searchInput.focus();      
  });
  
  closeSearchButton.addEventListener('click', function () {
      searchPanel.className += ' hidden';
  });

  window.addEventListener('mousedown', closeSearchBox);        
  window.addEventListener('touchstart', closeSearchBox);

  if (window.isMobileDevice) {
      function closeHamburgerMenuBox(e) {
          if(clickOutsideBox(e, hamburgerMenu) && clickOutsideBox(e, hamburgerButton) && hamburgerMenu.className.indexOf('active') !== -1) {
              hamburgerMenu.className = hamburgerMenu.className.replace(' active', '');
              hamburgerButton.className = hamburgerButton.className.replace(' active', '');
              document.documentElement.style.overflowY = 'scroll';
              document.body.style.overflowY = 'initial';
          }
      }

      var hamburgerMenu = document.querySelector('.site-nav');
      var hamburgerButton = document.querySelector('.hamburger-button');

      window.addEventListener('mousedown', closeHamburgerMenuBox);        
      window.addEventListener('touchstart', closeHamburgerMenuBox);

      window.addEventListener('DOMContentLoaded', function (e) {
          var docNav = document.querySelector('.doc-nav');

          if(docNav) {
              function closeDocNav() {
                  docNav.className = docNav.className.replace(' active', '');
                  document.documentElement.style.overflowY = 'scroll';
                  document.body.style.overflowY = 'initial';
              }

              function clickWithDocNavInvoked(e) {
                  if(clickOutsideBox(e, docNav) && clickOutsideBox(e, docNavPanel) && docNav.className.indexOf('active') !== -1) 
                      closeDocNav();
              }

              var docNavPanel = document.querySelector('.doc-nav-panel');

              window.addEventListener('mousedown', clickWithDocNavInvoked);        
              window.addEventListener('touchstart', clickWithDocNavInvoked);

              var docNavLinks = document.querySelectorAll('.doc-nav a');

              docNavLinks.forEach(function (link) {
                  link.addEventListener('click', closeDocNav);
              });
          }
      });
  }
</script>
{% if jekyll.environment == "production" %}
<script>
  var studioLink = document.getElementById('studio-link');

  studioLink.addEventListener('click', function () {
      ga('send', 'event', 'topMenu', 'studioLinkClicked');
  });
</script>
{% endif %}
<div class="doc-top-nav">
  <div class="doc-top-nav-content">
    <div class="doc-top-nav-wrapper">
      {% for menuItem in site.data.docs-top-menu %}
        <div class="doc-top-nav-tab {% if page.url contains menuItem.url %}active{% endif %}" >
          <a href="{{ menuItem.url | prepend: site.baseurl }}">{{ menuItem.text }}</a>      
        </div>
      {% endfor %}
    </div>
  </div>
</div>
