<header class="site-header">
  <div class="site-header-content">
    <a class="site-logo" href="{{ site.baseurl }}/"></a>

    <nav class="site-nav">
      <div class="trigger">
        {% for sitePage in site.pages %}
          {% if sitePage.siteNavItemName %}
            {% capture highlightUrl %}{% if sitePage.siteNavItemHighlightUrl %}{{ sitePage.siteNavItemHighlightUrl }}{% else %}{{ sitePage.url }}{% endif %}{% endcapture %}
            <a class="page-link {% if page.url contains highlightUrl %}active{% endif %}" href="{{ sitePage.url | prepend: site.baseurl }}">{{ sitePage.siteNavItemName }}</a>
            <span class="page-link-separator">|</span>
          {% endif %}
        {% endfor %}
        {% for menuItem in site.data.top-menu-items %}
          <a class="page-link" href="{{ menuItem.url }}">{{ menuItem.text }}</a>
          <span class="page-link-separator">|</span>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
