---
layout: default
title: Release Notes
redirect_from:
  - /blog/
---
<div class="post">
    <div class="blog-title">
        TestCafe Release Notes
    </div>
    <div class="post-list">
    {% for post in site.posts %}
        {% if post.isTeamBlog == false or post.isTeamBlog == nil %}
            {% assign dateStr = post.date | date: "%b %e, %Y" | upcase %}
            {% assign url = post.url | prepend: site.baseUrl %}
            {% include pub-preview.html url=url title=post.title excerpt=post.excerpt date=dateStr %}
        {% endif %}
    {% endfor %}
    </div>
</div>    
