---
layout: docs
title: TestCafe Team Blog
nav: blog-nav
---
<div class="blog-title">
    TestCafe Team Blog
</div>
<div class="blog-subtitle">
    This section contains articles from the TestCafe team
</div>
<div class="post-list">
{% for post in site.posts %}
    {% if post.isTeamBlog %}
        {% assign dateStr = post.date | date: "%b %e, %Y" %}
        {% assign url = post.url | prepend: site.baseurl %}
        {% capture subtitle %}Published by {{ post.author }} – {{ dateStr }}{% endcapture %}
        {% include pub-preview.html url=url title=post.title excerpt=post.excerpt date=dateStr subtitle=subtitle %}
    {% endif %}
{% endfor %}
</div>
