/**
 * Site header
 */
.site-header {
    background-color: $landing-background-color;
    top: 0;
    height: $header-height;
    width: 100%;
    z-index: 1;
    min-width: $body-min-width;

    .site-header-content {
        max-width: $max-width;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hamburger-button {
            display: none;
        }
    }

    &.fixed {
        position: fixed;
    }

    .star-button {
        display: inline-block;
        height: 28px;
        margin-left: 26px;
        vertical-align: text-bottom;
        min-width: 120px;
    }

    .site-logo {
        background-image: url($baseUrl + "/images/site-header-logo.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        display: block;
        float: left;
        height: 29px;
        width: 147px;
        margin-bottom: 10px;
    }

    .site-header-buttons {
        display: flex;
        align-items: center;

        #twitter-button {
            background-image: url($baseUrl + "/images/twitter.svg");
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: contain;
            display: inline-block;
            height: 21px;
            width: 25px;
            margin: 0 12px 0 10px;
        }

        #search-panel {
            position: absolute;
            top: 15px;
            left: 30%;
            right: 100px;
            display: flex;
            justify-content: center;
            background-color: #a4cada;
            opacity: 1;
            
            &.hidden {
                display: none;            
                opacity: 0;
            }
            
            .algolia-autocomplete {
                display: flex !important;
                flex-grow: 1;
            }

            #close-search {
                background-image: url($baseUrl + "/images/landing-page/close.svg");
                background-repeat: no-repeat;
                background-color: transparent;
                background-size: contain;
                height: 17px;
                width: 17px;
                float: right;
                margin: 12px 0 0 15px;
                cursor: pointer;
            }
        }
    }
}

#search-icon {
    background-image: url($baseUrl + "/images/search.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    display: inline-block;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

#search {
    background-image: url($baseUrl + "/images/landing-page/find-icon-black.svg");
    background-repeat: no-repeat;
    background-position: 12px 10px;
    font-size: 14px;
    padding-left: 42px;
    border: none;
    outline: none;
    
    height: 40px;
    flex-grow: 1;
    
    @media (max-width: 1310px) {
        width: 780px;
    }
}

.site-header-content {
    padding: 0 100px;
    min-width: calc(#{$body-min-width} - 200px);
}

.site-nav {
    display: flex;
    align-items: center;
    height: 70px;

    .menu-icon {
        display: none;
    }

    .site-nav-tab {
        display: inline-block;
        vertical-align: super;
        padding: 3px 15px;
        margin-right: 20px;

        @media (max-width: 1310px) {
            padding-left: 8px;
            padding-right: 8px;
        }

        &.active {
            background-color: #ebeeef;
            border-radius: 5px;            
        }

        .page-link {
            font-size: 15px;
            font-weight: bold;
            color: #404142;
            padding-top: 0;

            &:hover {
                text-decoration: none;
            }
        }

        &.new-post {
            background-image: url($baseUrl + "/images/newblog-menu-indicator-icon.svg");
            background-position: top 4px right 7px;
            @media (max-width: 1310px) {
                background-position: top 4px right 1px;
            }
            background-repeat: no-repeat;
        }
    }
}

#studio-link-tab {
    margin: 0 10px;
    padding: 2px 10px;
    background: linear-gradient(260.4deg, #389ACE 0%, #5CACE8 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    
    .page-link {
        display: block;
        color: #fff;
        transform: skewX(20deg);
        -webkit-transform: skewX(20deg);
        -moz-transform: skewX(20deg);            
    }
}

html, body {
     height: 100%;
     min-width: $body-min-width;
}

body {
    display: flex;
    flex-direction: column;
}

.page-content-wrapper {
    flex: 1 0 auto;
}

/**
 * Site footer
 */
.site-footer-content {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    font-size: 14px;
    color: #7e8082;
    line-height: 1.6;
    text-align: center;

    p, ul, ol, dl, pre {
        margin-bottom: 0;
    }

    .footer-links {
        padding-top: 23px;
        display: flex;
        justify-content: center;
        
        .footer-link-content {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .link {
                margin-right: 20px;
                margin-top: 10px;
                
                a {
                    text-decoration: underline;
    
                    &:hover {
                        color: #2fa4cf;
                    }
                }
            }
        }
    }

    .footer-icons {
        padding-top: 33px;
        display: flex;
        justify-content: center;

        .icon {
            margin-right: 30px;
        }
    }

    .footer-legal {
        padding-top: 33px;

        a {
            text-decoration: underline;

            &:hover {
                color: #2fa4cf;
            }
        }
    }
}

.site-footer {
    flex-shrink: 0;
    height: $footer-height;
    background-color: white;
    z-index: 1;
    border-top: 1px solid $border-color;
    box-sizing: border-box;
}

.bottom {
    bottom: 63px;
}

.post-content {
    h1 {
        font-weight: bold;
        font-size: 38px;
        color: #404142;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
    }

    h5 {
        font-size: 14px;
        font-weight: bold;
    }
}

.post {
    min-width: 550px;
    max-width: 920px;
    margin: 0 auto;
    padding: 25px 0 70px 0;

    h1 {
        font-weight: bold;
        color: #404142;
        margin: -8px 0 30px;
    }
}

.blog-title {
    font-size: 38px;
    margin-top: -12px;
}

.blog-subtitle {
    padding-top: 5px;
    font-size: 20px;
    line-height: 27px;
    color: #404142;
}

.post-list {
    padding-top: 16px;
}

.post-preview {
    padding-top: 35px;

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }
}

.post-title {
    color: #404142;
    font-size: 24px;
    font-weight: bold;
    margin: -4px 0 10px;

    .content-lang {
        font-weight: normal;
        font-size: 16px;
    }
}

.post-extract {
    border-top: 1px solid $border-color;
    padding: 4px 0 10px 20px; 

    p, ul, ol, dl, pre {
        margin-bottom: 4px;
    }

    a {
        color: #000000;
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
        }
    }
}

.post-subtitle {
    font-size: 14px;
}

.post-date {
    font-weight: bold;
    color: #a7a7a7;
}

.read-more {
    color: $brand-color;
    font-weight: bold;
    margin-top: 5px;

    a:hover {
        text-decoration: underline;
    }
}

#back-to-posts-link {
    padding-top: 15px;
    p {
        padding-top: 4px;
        border-top: 1px solid $border-color;
        display: inline-block;
    }
}

#disqus_thread {
    margin: 60px auto 0;
    max-width: 710px;
}

.faq {
    min-width: 550px;
    max-width: 920px;
    margin: 32px auto 0;

    .anchor {
        top: -80px;
    }
}

.post-subheader {
    color: #b3b3b3;
}

.cookie-notice {
    display: none;
    position: fixed;
    background-color: #fff;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 15000;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);

    &.visible {
        display: block;
    }

    .close-icon {
        background-image: url($baseUrl + "/images/landing-page/close.svg");
        background-position: center center;
        background-repeat: no-repeat;
        height: 36px;
        width: 36px;
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
    }

    .cookie-notice-content {
        max-width: 1500px;
        padding: 17px 15px;
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cookie-notice-message {
            max-width: 90%;

            .cookie-notice-header {
                color: #000;
                font-weight: bold;
                font-size: 18px;
            }
            .cookie-notice-text {
                max-width: 1150px;
                font-size: 14px;
                padding-right: 30px;

                a {
                    color: #111;
                    text-decoration: underline;
                }
            }
        }
        .cookie-notice-button {
            color: #000;
            padding: 5px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 50px;
            border: 2px solid #000;
            background-color: #fff;
            cursor: pointer;
            white-space: nowrap;
        }
    }
}

.doc-top-nav {
    display: none;
}