/**
 * Site header
 */
.site-header {
    background-color: $landing-background-color;
    top: 0;
    height: $header-height;
    width: 100%;
    z-index: 1;
    min-width: $body-min-width;

    .site-header-content {
        max-width: $max-width;
        margin: auto;
    }

    &.fixed {
        position: fixed;
    }

    .star-button {
        display: inline-block;
        height: 28px;
        width: 113px;
        margin: 0 0 2px 26px;
        vertical-align: text-bottom;
    }

    .site-logo {
        background-image: url($baseUrl + "/images/landing-page/testcafe-logo.png");
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        display: block;
        float: left;
        height: 29px;
        width: 147px;
        margin: 23px 0;
    }

    #twitter-button {
        background-image: url($baseUrl + "/images/landing-page/twitter-icon.png");
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        display: inline-block;
        height: 21px;
        width: 25px;
        margin: 31px 12px 0 10px;
    }

    #search-panel {
        position: relative;
        top: -40px;
        background-color: #a4cada;
        opacity: 1;
        
        &.hidden {
            display: none;            
            opacity: 0;
        }

        #close-search {
            background-image: url($baseUrl + "/images/landing-page/close-icon.png");
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: contain;
            height: 17px;
            width: 17px;
            float: right;
            margin: 12px 0 0 15px;
            cursor: pointer;
        }
    }
}

#search-icon {
    background-image: url($baseUrl + "/images/landing-page/find-icon.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    display: inline-block;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

#search {
    background-image: url($baseUrl + "/images/landing-page/find-icon-black.png");
    background-repeat: no-repeat;
    background-position: 12px 10px;
    padding-left: 42px;
    border: none;
    outline: none;
    
    height: 40px;
    width: 825px;

    @media (max-width: 1310px) {
        width: 770px;
    }
}

.site-header-content {
    padding: 0 100px;
    min-width: calc(#{$body-min-width} - 200px);
}

.site-nav {
    float: right;
    height: 70px;

    .menu-icon {
        display: none;
    }

    .site-nav-tab {
        display: inline-block;
        vertical-align: super;
        padding: 5px 15px 7px;

        @media (max-width: 1310px) {
            padding-left: 10px;
            padding-right: 10px;
        }

        &.active {
            background-color: #ebeeef;
            border-radius: 5px;            
        }

        .page-link {
            font-size: 15px;
            font-weight: bold;
            color: #404142;
            padding-top: 0;
        }
    }
}

.doc-top-nav {
    position: fixed;
    top: $header-height;
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: #ebeeef;
    border-bottom: 1px solid $border-color;

    .doc-top-nav-content {
        min-width: 600px;
        max-width: $max-width;
        padding: 0 100px;
        margin: auto;

        .doc-top-nav-wrapper {
            margin-left: -15px;
            
            .doc-top-nav-tab {
                display: inline-block;
                margin: 10px 0 20px;
                padding: 5px 15px 15px 15px;            
                
                &.active {
                    background-color: #fdfdfd;
                    border-radius: 5px 5px 0 0;
                }

                a {
                    font-size: 15px;
                    font-weight: bold;
                    color: #404142;            
                }
            }
        } 
    }
}

html, body {
     height: 100%;
     min-width: $body-min-width;
}

.page-content-wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto calc(-#{$footer-height});
}

/**
 * Site footer
 */
.site-footer-content {
    padding: 22px 30px 0;
    font-size: 14px;
    color: #7e8082;
    line-height: 1.6;
    text-align: center;

    p, ul, ol, dl, pre {
        margin-bottom: 0;
    }
}

.site-footer {
    height: $footer-height;
    background-color: white;
    position: relative;
    z-index: 1;
    border-top: 1px solid $border-color;
    box-sizing: border-box;
}

.push {
    height: $footer-height;
}

/**
 * Docs
 */
.doc-nav {
    position: fixed;
    top: $doc-header-height;
    bottom: 0;
    width: $doc-nav-width;
    vertical-align: top;
    font-size: 13px;
    background-color: $background-color;
    margin: 10px 0;

    ul {
        list-style-type: none;
        margin-left: 0px;

        li {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            padding: 6px 0;
            border-bottom: 1px solid $border-color;

            ul {
                list-style-type: disc;
                margin-left: 0px;
                padding-left: 20px;

                li {
                    font-weight: normal;
                    text-transform: none;
                    border-bottom: none;
                    padding: 3px 0 0;

                    ul {
                        list-style-type: circle;
                        margin-left: 14px;
                        padding-left: 0px;

                        li > ul {
                            list-style-type: square;
                            margin-left: 28px;

                            li > ul {
                                list-style-type: disc;
                                margin-left: 42px;
                            }
                        }
                    }
                }
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }

    a, a:visited {
        color: $text-color;
    }

    a.active {
        color: $brand-color;
    }
}

.doc-nav-content {
    margin-top: 17px;
    border-right: 1px solid #e6e6e6;
    padding-right: 20px;

    & > ul {
        margin-bottom: 0;
    }
}

.doc {
    max-width: 1100px;
    margin: 72px 0 $spacing-unit calc(#{$doc-nav-width} + 60px);
    padding-right: $spacing-unit;

    .anchor {
        top: calc(-#{$header-height} - 78px);
    }
}

.bottom {
    bottom: 63px;
}

.post-content {
    h1 {
        font-weight: bold;
        font-size: 38px;
        color: #404142;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
    }

    h5 {
        font-size: 14px;
        font-weight: bold;
    }
}

.post {
    min-width: 550px;
    max-width: 920px;
    margin: 0 auto;
    padding: 25px 0 70px 0;

    h1 {
        font-weight: bold;
        color: #404142;
        margin: -8px 0 30px;
    }
}

.post.gs {
    padding-top: 72px;
}

.blog-title {
    font-size: 38px;
    margin-top: -12px;
}

.post-list {
    padding-top: 16px;
}

.post-preview {
    padding-top: 35px;

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }
}

.post-title {
    color: #404142;
    font-size: 24px;
    font-weight: bold;
    margin: -4px 0 10px;
}

.post-extract {
    border-top: 1px solid $border-color;
    padding: 4px 0 10px 20px; 

    p, ul, ol, dl, pre {
        margin-bottom: 4px;
    }
}

.post-date {
    font-weight: bold;
    color: #a7a7a7;
}

.read-more {
    color: $brand-color;
    font-weight: bold;
    margin-top: 5px;

    a:hover {
        text-decoration: underline;
    }
}

#back-to-posts-link {
    padding-top: 15px;
    p {
        padding-top: 4px;
        border-top: 1px solid $border-color;
        display: inline-block;
    }
}

#disqus_thread {
    margin: 60px auto 0;
    max-width: 710px;
}

.faq {
    min-width: 550px;
    max-width: 920px;
    margin: 32px auto 0;

    .anchor {
        top: -80px;
    }
}

.post-subheader {
    color: #b3b3b3;
}

.cookie-notice {
    display: none;
    position: fixed;
    background-color: #81daff;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 15000;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);

    &.visible {
        display: block;
    }

    .close-icon {
        font: 12px/100% arial,sans-serif;
        color: white;
        position: absolute;
        right: 7px;
        text-decoration: none;
        top: 7px;
        cursor: pointer;

        &:after {
            box-sizing: border-box;
            position: relative;
            content: '\2716';
        }
    }

    .cookie-notice-content {
        max-width: 1500px;
        padding: 17px 15px;
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cookie-notice-message {
            max-width: 90%;

            .cookie-notice-header {
                color: white;
                font-weight: bold;
                font-size: 18px;
            }
            .cookie-notice-text {
                max-width: 1150px;
                font-size: 14px;
                padding-right: 30px;

                a {
                    color: #111;
                    text-decoration: underline;
                }
            }
        }
        .cookie-notice-button {
            min-width: 96px;
            color: white;
            padding: 5px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 50px;
            border: 2px solid white;
            background-color: #81daff;
            cursor: pointer;
        }
    }
}