---
---
.banner-placeholder {
  display: none;
}

.survey-banner {
  position: fixed;
  height: auto;

  .survey-banner-message {
    line-height: 20px;
    padding: 10px 30px;

    span {
      display: block;
      text-align: left;
      margin: 4px 0;

      &.desktop-text {
        display: none;
      }

      &.mobile-text {
        display: block;
      }
    }
  }

  .survey-banner-close-button {
    background-position: top 15px right 15px;
  }
}

.survey-banner:not(.hidden) ~ .container {
  margin-top: 60px;

  .doc-nav-panel {
    //margin-top: 132px;
  }

  .doc-nav {
    top: 192px;
  }
}

.survey-banner:not(.hidden) ~ .site-header {
  margin-top: 72px;

  .site-header-content {
    .site-nav {
      top: 132px;
    }
  }

  &.fixed {
    position: fixed;

    ~ .container {
      margin-top: 132px;
    }
  }
}
