---
---

html {
    body {
        .page-content-wrapper {
            .container {
                .doc-nav-panel {
                    background-color: #2e688a;
                    height: 60px;
                    display: block;
                    margin-top: 60px;

                    .toggle-nav-button {
                        background-image: url('/testcafe/images/toggle-nav-button.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 35px;
                        height: 35px;                        
                        float: left;
                        margin: 10px 30px 0px;
                    }
                }

                .doc-nav {
                    position: absolute;
                    top: 120px;
                    width: 100%;
                    height: calc(100vh - 120px);
                    left: -100%;
                    transition: left .2s;
                    overflow-y: auto;
                    margin-top: 0px;

                    .doc-nav-content {
                        margin-top: 0px;
                        padding: 0 30px;
                    }

                    &.active {
                        left: 0px;
                    }
                }

                main {
                    .doc {
                        margin: 0px 30px;
                        padding-right: 0px;

                        .anchor {
                            top: -85px;
                        }
                    }

                    .post-content {
                        .table-wrapper {
                            overflow: scroll;
                            margin: 40px 0;

                            table {
                                width: 100%;
                                min-width: 500px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}