---
---

html {
    body {
        .page-content-wrapper {
            .container {
                .doc-nav-panel {
                    background-color: #2e688a;
                    height: 60px;
                    display: block;
                    padding-top: 75px;

                    .toggle-nav-button {
                        background-image: url('/testcafe/images/toggle-nav-button.png');
                        background-repeat: no-repeat;
                        width: 35px;
                        height: 35px;
                        float: left;
                    }
                }

                .doc-nav {
                    position: absolute;
                    top: 135px;
                    width: 100%;
                    height: calc(100vh - 135px);
                    left: -100%;
                    transition: left .2s;

                    &.active {
                        left: 0px;
                    }
                }

                main {
                    .post {
                        padding: 0 30px;
                        min-width: 0;
                    }

                    .doc {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}