---
---

html {
    min-width: 0;

    body {
        min-width: 0;

        .page-content-wrapper {
            overflow-x: hidden;

            .site-header {
                min-width: 0;

                &.fixed {
                    position: static;
                }

                .site-header-content {
                    min-width: 0;
                    padding: 0 0 0 30px;
                    position: relative;

                    .hamburger-button {
                        display: block;
                        float: right;
                        padding: 27px 25px 28px 26px;
    
                        .hamburger-icon {
                            height: 20px;
                            width: 24px;
                            background-image: url('/testcafe/images/hamburger-menu.png');
                            cursor: pointer;
                        }
    
                        &.active {
                            background-color: #fff;
    
                            .hamburger-icon {
                                background-image: url('/testcafe/images/hamburger-menu-active.png');
                            }
                        }
                    }

                    .site-nav {
                        height: inherit;
                        width: 150px;
                        position: absolute;
                        background: #fff;
                        top: 75px;
                        right: -150px;
                        transition: right .2s;
                        box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
                        
                        .site-nav-tab {
                            display: block;

                            .doc-menu-item-icon {
                                display: inline-block;
                                height: 6px;
                                width: 10px;
                                background-image: url("/testcafe/images/accordion-arrow-down.png");
                            }

                            &.expanded .doc-menu-item-icon {
                                background-image: url("/testcafe/images/accordion-arrow-up.png");
                            }

                            &.active {
                                background-color: #fff;
                                border-radius: 0;
                            }
                        }
        
                        .doc-top-nav {
                            display: none;
                            position: relative;
                            height: 0;
                            top: 0;
                            background-color: #fff;
                            border: none;
                            padding: 0 0 15px 0;

                            .doc-top-nav-content {
                                min-width: 0;
                                max-width: 100%;
                                padding: 0;

                                .doc-top-nav-wrapper {
                                    margin-left: 0;

                                    .doc-top-nav-tab {
                                        display: block;
                                        margin: 0;
                                        padding: 5px 0 0 25px;

                                        &.active {
                                            background-color: #fff;
                                            border-radius: 0;
                                        }
                                    }
                                }
                            }

                            &.expanded {
                                display: block;
                                height: 100%;
                            }
                        }

                        #search-panel, .star-button, #search-icon, #twitter-button {
                            display: none;
                        }
        
                        .hamburger-button {
                            display: block;
                        }
        
                        &.active {
                            right: 0px;
                        }
                    }
                }
            }
            .container {
                padding-left: 0;
                padding-top: 20px;
            }
        }
    }
}