---
---

html {
    min-width: 0;

    body {
        min-width: 0;
        font-size: 16px;

        .page-content-wrapper {
            overflow-x: hidden;

            .site-header {
                min-width: 0;
                height: 60px;

                &.fixed {
                    position: fixed;
                }

                .site-header-content {
                    min-width: 0;
                    padding: 0 0 0 30px;
                    position: relative;

                    .site-logo {
                        margin: 15px 0;
                    }

                    .hamburger-button {
                        display: block;
                        float: right;
                        padding: 21px 30px 20px 30px;
    
                        .hamburger-icon {
                            height: 20px;
                            width: 24px;
                            background-image: url('/testcafe/images/hamburger-menu.png');
                            cursor: pointer;
                        }
    
                        &.active {
                            background-color: #fff;
    
                            .hamburger-icon {
                                background-image: url('/testcafe/images/hamburger-menu-active.png');
                            }
                        }
                    }

                    .site-nav {
                        overflow-y: scroll;
                        width: 100%;
                        height: auto;
                        float: none;
                        position: fixed;
                        background: #fff;
                        top: 60px;
                        bottom: 0;
                        right: -100%;
                        transition: right .2s;
                        box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
                        z-index: 1;
                        
                        .site-nav-tab {
                            display: block;
                            padding: 0;

                            .page-link {
                                display: block;
                                padding: 9px 7px 9px 30px;
                                font-size: 18px;
                            }

                            .doc-menu-item-icon {
                                display: inline-block;
                                height: 6px;
                                width: 10px;
                                margin: 0 0 2px 5px;
                                background-image: url("/testcafe/images/accordion-arrow-down.png");
                            }

                            &.expanded .doc-menu-item-icon {
                                background-image: url("/testcafe/images/accordion-arrow-up.png");
                            }

                            &.active {
                                background-color: #fff;
                                border-radius: 0;
                            }

                            &:nth-child(2) {
                                padding: 10px 0 10px;

                                .page-link {
                                    display: inline;
                                }
                            }
                        }
        
                        .doc-top-nav {
                            display: none;
                            position: relative;
                            width: auto;
                            height: 0;
                            top: 0;
                            background-color: #fff;
                            border: none;
                            padding: 5px 0 15px 30px;

                            .doc-top-nav-content {
                                min-width: 0;
                                max-width: 100%;
                                padding: 0;

                                .doc-top-nav-wrapper {
                                    margin-left: 0;

                                    .doc-top-nav-tab {
                                        display: block;
                                        margin: 0;
                                        padding: 0;

                                        &.active {
                                            background-color: #fff;
                                            border-radius: 0;
                                        }

                                        a {
                                            display: block;
                                            padding: 5px 0 5px 10px;
                                            font-size: 16px;
                                            font-weight: normal;
                                            color: #404142;            
                                        }
                                    }
                                }
                            }

                            &.expanded {
                                display: block;
                                height: auto;
                            }
                        }

                        .star-button, #search-icon, #twitter-button {
                            display: none;
                        }

                        #search-panel {
                            display: block;
                            opacity: 1;
                            background-color: #fff;
                            padding: 20px 30px 9px 30px;
                            top: 0;

                            .algolia-autocomplete {
                                width: 100%;

                                #search {
                                    font-size: 16px;
                                    width: calc(100% - 42px);
                                    border: 1px solid rgba(0, 0, 0, 0.2);
                                    border-radius: 4px;
                                }

                                .ds-dropdown-menu {
                                    min-width: 0;
                                }
                            }

                            #close-search {
                                display:none;
                            }
                        }
        
                        .hamburger-button {
                            display: block;
                        }
        
                        &.active {
                            right: 0px;
                        }
                    }
                }
            }
            .container {
                padding-left: 0;
                padding-top: 0;

                .post {
                    padding: 70px 30px 0px;
                    min-width: 0;
                }

                .blog-title {
                    margin-top: 0; 
                }

                main {
                    .faq {
                        min-width: 0;
                        margin: 0;
                        padding: 70px 30px 0;
                    }
                }
            }
        }
        .site-footer {
            height: auto;
            z-index: 0;

            .site-footer-content {
                padding: 22px 30px;
                text-align: left;
            }
        }
        .cookie-notice {
            top: 10px;
            bottom: auto;

            .cookie-notice-content {
                flex-direction: column;
                padding: 17px 30px;

                .cookie-notice-message {
                    margin-bottom: 20px;
                    width: 100%;
                    max-width: initial;

                    .cookie-notice-header {
                        font-weight: bold;
                        line-height: 21px;
                        font-size: 14px;
                    }
                    .cookie-notice-text {
                        padding-right: 0;
                        font-size: 12px;
                    }
                }
                .cookie-notice-button {
                    width: 100%;
                    padding: 0;
                    font-weight: bold;
                    line-height: 35px;
                    font-size: 18px;
                    text-align: center;
                    border-radius: 4px;
                    box-sizing: border-box;
                    height: 40px;
                }
            }
        }
        .cookie-notice {
            .cookie-notice-content {
                flex-direction: column;

                .cookie-notice-message {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
#studio-link-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 67px;
    margin: 10px 20px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-image: url("/testcafe/images/studio-logo.svg"), url("/testcafe/images/studio-menu-item-mobile-separator.svg"), linear-gradient(262.6deg, #389ACE 0%, #5CACE8 100%);
    background-position: calc(50% - 65px) center, calc(50% + 32px) center, 0px;
    background-repeat: no-repeat;
    box-shadow: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    
    .page-link {
        padding: 0;
        text-decoration: none;
        color: #fff;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;   
        
        span {
            display: none;
        }

        &:after {
            position: relative;
            left: calc(50% + 50px);
            content: 'Try our IDE\A for free';
            white-space: pre-wrap;
            line-height: 23px;
            font-weight: normal;
        }

        @media screen and (max-width: 350px) {
            &:after {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    #studio-link-tab {
        background-position: calc(50% - 48px) center, calc(50% + 40px) center, 0px;
    }
}