---
---
#search-icon {
    background-image: url("/testcafe/images/search-disabled.svg");
    cursor: default;
}
.support {
    .banner {
        padding-top: 53px;
        height: 274px;
        background-color: #a4cada;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);

        .banner-header {
            text-align: center;
            color: #404142;
            
            h1 {
                font-weight: bold;
                font-size: 45px;
            }
        }
        .support-search {
            margin: 35px auto 0;
            max-width: 868px;            

            .algolia-autocomplete {
                width: 100%;

                #support-search-input {
                    background-color: #EEF1F3;
                    background-image: url("/testcafe/images/support-search.svg");
                    background-position: center right 20px;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 70px;
                    border: 8px solid rgba(0, 0, 0, 0.12);
                    border-radius: 12px;
                    background-clip: padding-box;
                    padding: 0 0 0 20px;
                    font-size: 25px;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .algolia-autocomplete.algolia-autocomplete-right {
                .ds-dropdown-menu {
                    right: auto !important;
                }
            }
        }
    }
    .tiles {
        margin: 50px auto;
        max-width: 1440px;
        display: flex;

        .col-1 {
            flex-grow: 2;
            flex-basis: 0;
            width: 66%;
            display: flex;
            flex-wrap: wrap;

            a {
                display: block;
                width: 50%;
                flex-grow: 1;
            }

            .small-tile {
                height: 224px;
                line-height: 224px;
                background-position: 14% 54%;
                background-repeat: no-repeat;
                
                p {
                    position: relative;
                    left: 31%;
                    width: 69%;
                }
            }
            .docs-tile {
                background-image: url("/testcafe/images/support-docs.svg");
            }
            .issue-tile {
                background-image: url("/testcafe/images/support-issue.svg");
            }
            .faq-tile {
                background-image: url("/testcafe/images/support-faq.svg");
            }
            .feature-tile {
                background-image: url("/testcafe/images/support-feature.svg");
            }
        }
        .col-2 {
            flex-grow: 1;
            flex-basis: 0;
            width: 33%;

            .large-tile {
                height: 468px;
                padding-top: 125px;
                background-repeat: no-repeat;
                background-position: 40% 249px;

                p {
                    position: relative;
                    left: 14%;
                    width: 86%;
                }
            }
            .stack-overflow-tile {
                background-image: url("/testcafe/images/support-stack-overflow.svg");
            }
        }
        .col-1, .col-2 {
            a {
                color: #000;

                &:hover {
                    text-decoration: none;
                }
            }
            .tile {
                border: 5px solid #FFF;
                background-color: #EEF1F3;
                border-radius: 4px;
                box-sizing: border-box;
                margin: 10px 10px;
                font-size: 26px;
                font-weight: 600;

                &:hover {
                    border: 5px solid #ACC9D8;
                }
            }
        }
    }
}